{% extends 'useradmin/base.html' %}
 {% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form action="" method="POST"  enctype="multipart/form-data" novalidate>
                {% csrf_token %} 
                {% comment %} {{form.as_p}} {% endcomment %}
                {% for field in form %}
                         {{ field.errors }} {{ field.label_tag }} {{ field }}
                {% endfor %}
                <input type="submit" class="btn btn-success">
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block title1 %}
Video Creation Page
{% endblock %}
{% block title2 %}
Video Form
{% endblock %}