{% extends 'useradmin/base.html' %}
 {% block title1 %}Video List Page{% endblock title1%}
 {% block title2 %}All Videos{% endblock title2%}
 {% block add %}
<a href="{% url 'video-create' %}" class="btn btn-success pull-right">
    <i class="fas fa-plus"></i> Add Video
</a>
{% endblock add %}
{% block content %}
<table class="table jambo_table">
    <thead>
        <th>Sno</th>
        <th>Title</th>
        <th>Video Link</th>
        <th>Video Id</th>
        <th>Summary</th>
        <th>Added By</th>
        <th>Action</th>
    </thead>
    <tbody>
        {% for video in video_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{video.title}}</td>
            <td>
               {{video.video_link}}
            </td>
            <td>{{video.video_id}}</td>
            <td>{{video.summary}}</td>
            <td>{{video.added_by.username}}</td>
            <td>
                <a href="{% url 'video-update' video.id %}" class="btn btn-primary">Edit</a>
                <form method="POST" action="{% url 'video-delete' video.id %}" onsubmit="return confirm('Are you sure you want to delete this video?')">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

{% block message %}
    {% if messages %}
      {% for message in messages %}
        <p class="alert alert-success">{{message}}</p>
      {% endfor %}
    {% endif %}
{% endblock %}