{% extends 'frontend/base.html' %}
{% block content %}
    <section class="news-inner">
        <div class="container">
            <div class="full-news">
                <h2>{{news.title}}</h2>
                <figure style="background-image: url({{news.image.url}})"></figure>
                <p>{{news.summary}}</p>
                <p>{{news.description}}</p>
                
            </div>
            <div class="comment">
                <h4>Comment</h4>
                <textarea></textarea>
                <input type="button" value="Comment">
            </div>
            <div class="news-wrapper">
                <div class="section-title more">
                    <h2>थप समाचार</h2>
                </div>
                <div class="more-list"></div>
                    <div class="row">
                    {% for news in related_news %}

                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="more-news">
                                <a href="{% url 'newsdetail' news.id %}">
                                    <figure style="background-image: url({{news.image.url}})"></figure>
                                </a>
                                <h2><a href="{% url 'newsdetail' news.id %}">{{news.title}}</a></h2>
                            </div>
                        </div>

                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

   